<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title> login@gsh </title>
<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/js/jquery.min.js"></script>

<link href="/static/signin.css" rel="stylesheet">
<!-- Custom Theme files -->
<!--theme-style-->
<link href="/static/css/index.css" rel="stylesheet" type="text/css" media="all" />  
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="global ssh" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--fonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
<!--//fonts-->
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      $(".scroll").click(function(event){   
        event.preventDefault();
        $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
      });
    });
    </script>
  <style>
   .header {
      background: #7fffd4;
   }
  </style>

</head>
<body>
<!--header-->
  <div class="header" id="home">
    <div class="container"> 
      <div class="logo">
        <h1><a href="/"><img src="/static/img/logo.png" alt=""></a></h1>
      </div>
      <div class="header-bottom">
        <div class="top-nav">
          <span class="menu"> </span>
          <ul>
            <li><a href="/" class="scroll">Home</a></li>
            <li><a href="mailto:hiep.iuh@gmail.com?Subject=gsh-contacts">contact</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/login">Login</a></li>
                  <li><a href="/register">register</a></li>
          </ul>
          <!--script-->
        <script>
          $("span.menu").click(function(){
            $(".top-nav ul").slideToggle(500, function(){
            });
          });
      </script>
        </div>
    </div>
    <div class="clearfix"> </div>
    </div>
  </div>
  <!---->

  <div class="row">
    <div class="col-lg-12">
      <form class="form-signin" role="form" action="" method="post">
        <h2 class="form-signin-heading">PLEASE SIGN IN</h2>
        <input type="text" class="form-control" placeholder="Username" name="username" value="{{
          request.form.username }}" id="username">
         <input type="password" class="form-control" placeholder="Password" name="password" value="">
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Login">Sign in</button>
        {% if error %}
        <p class="error" id="error"><strong>Error:</strong> access denied!
        {% endif %}
        {% if reg %}
        <p class="error" id="error"><strong>Registered successfully:</strong> you can login!
        {% endif %}
      </form>
      <script type='text/javascript'>
      $('button').on ('click', function () {
        var output = document.getElementById('error');
        if ($('#username').val() === "") {
            output.innerHTML = "<strong>Error: </strong>please input username"
            return false;
        }
      })
      </script>
  </div></div>
</body>
</html>