{% extends "pages/header.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
<div class="col-lg-4 col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-cogs fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">{{ domain }}</div>
                    <div>DOMAIN</div>
                </div>
            </div>
        </div>
        <a href="#">
            <div class="panel-footer">
                <a href="/domain/"><span class="pull-left"> View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span></a>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
<div class="col-lg-4 col-md-6">
    <div class="panel panel-green">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-laptop fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">{{ machine }}</div>
                    <div>MACHINE</div>
                </div>
            </div>
        </div>
        <a href="#">
            <div class="panel-footer">
                <a href="/machine/"><span class="pull-left"> View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span></a>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>

</div>
<div class="col-lg-4 col-md-6">
    <div class="panel panel-green">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-share-alt fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">{{ gateway }}</div>
                    <div>GATEWAY</div>
                </div>
            </div>
        </div>
        <a href="#">
            <div class="panel-footer">
                <a href="/gateway/"><span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span></a>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
</div>
<div class="row">
    <div class="col-lg-8">
    	<div class="panel-heading">
			<i class="fa fa-bar-chart-o fa-fw"></i> Connect Activities
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
			<div id="morris-area-chart"></div>
			</div>
	</div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Machine in Domain
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">

        	<div id="morris-donut-chart"></div>
        	</div>
    	</div>

	</div>
</div>
<!-- /.panel-body -->
</div>
<script src="{{STATIC_URL}}js/jquery.min.js"></script>
<script src="{{STATIC_URL}}js/raphael-min.js"></script>
<script src="{{STATIC_URL}}js/morris.min.js"></script>
<script src="{{STATIC_URL}}js/morris-data.js"></script>

{% endblock %}